{{ with site.GetPage "/service"}}
{{ with .Params.service }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
    </div>
    <div class="row">
      {{ range .service_item }}
      <div class="col-sm-8 col-md-4">
        <div class="service-item">
          <!--<i class="icon {{ .icon }}"></i>-->
          <img src="{{ .image | relURL }}" />
          <h4><a href="{{ .link | relLangURL }}">{{ .name | markdownify }}</a></h4>
          <p>{{ .content | markdownify }}</p>
          {{ with .button_net }}
            {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="btn btn-small btn-net animated fadeInUp">.NET</a>
            {{ end }}
          {{ end }}
          {{ with .button_java }}
            {{ if .enable }}
              <a href="{{ .link | relLangURL }}" class="btn btn-small btn-java animated fadeInUp">Java</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
