{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- ############ SUB MENU ############ -->
{{ with .Params.submenu }}
{{ if .enable }}
<a id="submenu" class="anchor" name="submenu"></a>
<section class="submenu">
    <div class="container section-default-padding">
        <div class="row">
            {{ with .left }}
            <div class="col-sm-3 col-md-3">
                <h4>
                    <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                    {{ .product | markdownify }}
                    <div><small>for {{ .platform | markdownify }}</small></div>
                </h4>
            </div>
            {{ end }}
            {{ with .middle }}
            <div class="col-sm-5 col-md-5">
                <ul class="nav nav-pills mb-hide">
                    {{ range .button }}
                    <li><a href="{{ .link }}">{{ .text | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ with .right }}
            <div class="col-sm-4 col-md-4">
                <a href="{{ .link_download | relLangURL }}" class="btn btn-small btn-download animated fadeInUp"><i class="ion-android-arrow-down"></i> Download</a>
                <a href="{{ .link_learn | relLangURL }}" class="btn btn-small btn-learn animated fadeInUp"><i class="ion-document-text"></i> Learn</a>
                <a href="{{ .link_buy | relLangURL }}" class="btn btn-small btn-buy animated fadeInUp"><i class="ion-pricetag"></i> Buy</a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ OVERVIEW ############ -->
{{ with .Params.overview}}
{{ if .enable }}
<a id="overview" class="anchor" name="overview"></a>
<section class="overview bg-gray">
    <div class="container section-default-padding">
        <div class="row">
            <p class="mt-30">{{ .content | markdownify }}</p>
        </div>
    </div>
</section>
{{ with .tabs }}
{{ if .enable }}
<section class="overview-tabs bg-gray">
    <div class="row">
        <!-- Tabs -->
        <ul class="nav nav-pills nav-center">
            <li data-target="#tabsCarousel" data-slide-to="0" class="" data-toggle="tab">
                At a
                <div>Glance</div>
            </li>
            <li data-target="#tabsCarousel" data-slide-to="1" class="active" data-toggle="tab">
                Supported
                <div>File Formats</div>
            </li>
            <li data-target="#tabsCarousel" data-slide-to="2" class="" data-toggle="tab">
                Platform
                <div>Independence</div>
            </li>
        </ul>
    </div>
    <!-- <div class="container section-default-padding"> -->
    <div class="row bg-white">
        <div class="col-md-12">
            <!-- Slides -->
            <div class="carousel slide" id="tabsCarousel">
                <div class="tab-content carousel-inner">
                    <div class="item">
                        <div class="diagram1 d1-net">
                            <div class="d1-row">
                            <div class="d1-col d1-left">&nbsp;</div>
                            <!--/left-->
                            <div class="d1-col d1-right"><header><i class="fa fa-html5">&nbsp;</i>Overview</header><ul><li>Display 170+ Document Types</li>
                            <li>Get HTML, Image, PDF Version</li>
                            <li>Rotate &amp; Reorder</li>
                            <li>Apply Watermark</li>
                            <li>Cache for Fast Process</li>
                            <li>Add Custom Fonts</li>
                            <li>Apply Encoding Standards</li>
                            <li>Custom Input Data Handler</li>
                            <li>Render with Track Changes</li>
                            <li>Render as Responsive HTML</li>
                            <li>Render PDF &amp; CAD Layers</li>
                            </ul></div>
                            <!--/right--></div>
                            <!--/row--> <!--/row-->
                            <div class="d1-logo"><img alt=" Document Viewer APIs" data-src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png" class=" lazyloaded" src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png"><header>GroupDocs.Viewer</header><footer><small><em>for</em> .NET</small></footer></div>
                            <!--/logo--></div>
                    </div>
                    <div class="item active">
                        <div class="diagram1 d2 d1-net">
                            <div class="d1-row">
                            <div class="d1-col d1-left"><header>Microsoft Office</header><ul><li><strong>Word:</strong> DOC, DOCX, DOCM, DOT, DOTX, DOTM, RTF, TXT‎</li>
                            <li><strong>Excel:</strong> XLS, XLSX, XLSM, XLSB, XLTM, XLT, XLTM, XLTX, XLAM, SXC, SpreadsheetML</li>
                            <li><strong>PowerPoint:</strong> PPT, PPTX, PPS, PPSX, PPSM, POT, POTM, POTX, PPTM</li>
                            <li><strong>Visio:</strong> VSD, VDX, VSS, VSSX, VSX, VST, VSTX, VTX, VSDX, VDW, VSTM, VSSM, VSDM</li>
                            <li><strong>Project:</strong> MPP, MPT, MPX</li>
                            <li><strong>Outlook:</strong> MSG, EML, EMLX, PST, OST‎</li>
                            <li><strong>OneNote:</strong> ONE</li>
                            </ul><header>Other Formats</header><ul><li><strong>PDF Formats:</strong> PDF, TEX, XPS, OXPS</li>
                            <li><strong>OpenDocument:</strong> ODT, OTT, ODS, ODP, OTP, OTS, ODG, OTG, FODP, FODG</li>
                            <li><strong>Delimiter-Separated Values:</strong> CSV, TSV</li>
                            <li><strong>Web:</strong> HTML, MHT, MHTML</li>
                            <li><strong>Metafile‎:</strong> WMF, EMF, CGM‎, WMZ, EMZ</li>
                            <li><strong>PostScript:</strong> PS, EPS</li>
                            <li><strong>Archives:</strong> ZIP, TAR, BZ2, GZ, RAR, RAR5</li>
                            <li><strong>Various:</strong> OBJ, EPUB, MOBI, DjVu, XML, VCF, VCARD, NUMBER, NSF</li>
                            </ul></div>
                            <!--/left-->
                            <div class="d1-col d1-right"><header>Images, Graphics &amp; Diagrams</header><ul><li><strong>Images:</strong> BMP, GIF, JPG, PNG, TIFF, multi-page TIFF, WebP, DNG, DIB, DCM</li>
                            <li><strong>Windows Icon:</strong> ICO</li>
                            <li><strong>Scalable Vector Graphics:</strong> SVG, CDR, CMX, IGS, SVGZ</li>
                            <li><strong>Jpeg2000:</strong> JP2, J2C, J2K, JPC, JPF, JPX, JPM</li>
                            <li><strong>Adobe Photoshop:</strong> PSD, PSB</li>
                            <li><strong>Printer Command Language:</strong> PCL</li>
                            <li><strong>Stereo Lithography (3D Printing)‎:</strong> STL</li>
                            <li><strong>Industry Foundation Classes:</strong> IFC</li>
                            <li><strong>Medical Imaging:</strong> DICOM</li>
                            <li><strong>Plotter Documents:</strong> PLT, HPG</li>
                            <li><strong>Autodesk Design Web Formats:</strong> DWF, DWG</li>
                            <li><strong>AutoCAD Drawing:</strong> DGN, DWT, IFC, STL, CF2</li>
                            <li><strong>ISFF-based DGN (V7):</strong>&nbsp;DGN</li>
                            </ul><header>Programming Languages Formats</header><ul><li><strong>C/C++/C# Files:</strong> C, CC, CS, CPP, CXX, C#, H, HH, M, MM</li>
                            <li><strong>Java/JavaScript Files:</strong> JAVA, JS, JSON, PROPERTIES</li>
                            <li><strong>Various:</strong> VB, PHP, SQL, PL, PY, PV, RB, RST, SASS, SCALA, SCM, SCRIPT, AS, AS3, ASM, BAT, CMAKE, CSS, DIFF, ERB, GROOVY, HAML, LESS, LOG, M, MAKE, MD, ML, MM, SH, SML, VIM, YAML</li>
                            </ul></div>
                            <!--/right--></div>
                            <!--/row-->
                            <div class="d1-logo"><img alt=".NET Viewer APIs" data-src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png" class=" lazyloaded" src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png"><header>GroupDocs.Viewer</header><footer><small><em>for</em> .NET</small></footer></div>
                            <!--/logo--></div>
                    </div>
                    <div class="item">
                        <div class="diagram1 d1-net">
                            <div class="d1-row">
                            <div class="d1-col d1-left"><header><i class="fa fa-windows">&nbsp;</i>Operating Systems</header><ul><li>Windows Desktop</li>
                            <li>Windows Server</li>
                            <li>Windows Azure</li>
                            <li>Linux</li>
                            </ul><header><i class="fa fa-code">&nbsp;</i>Supported Frameworks</header><ul><li>.NET Framework 2.0 or higher</li>
                            <li>Mono Framework 1.2 or higher</li>
                            <li>.NET Standard 2.0</li>
                            <li>.NET Core 2.0</li>
                            <li>.NET Core 2.1</li>
                            </ul></div>
                            <!--/left-->
                            <div class="d1-col d1-right"><header><i class="fa fa-file-zip-o">&nbsp;</i>Package Manager</header><ul><!--<li>ZIP Archive</li>
                                                                        <li>MSI Package</li>--><li>NuGet</li>
                            </ul></div>
                            <!--/right--></div>
                            <!--/row-->
                            <div class="d1-logo"><img alt="File Viewer APIs" data-src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png" class=" lazyloaded" src="https://www.groupdocs.cloud/templates/groupdocs/images/product-logos/90x90-noborder/groupdocs-viewer-net.png"><header>GroupDocs.Viewer</header><footer><small><em>for</em> .NET</small></footer></div>
                            <!--/logo--></div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ end }}
{{ end }}

<!-- ############ PRODUCTS ############ -->
{{ with .Params.products}}
{{ if .enable }}
<section class="products bg-gray">
    <a id="products" class="anchor" name="products"></a>
    <div class="container section-default-padding">
        <div class="row">
            <div class="section-title">
                {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
                {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
        </div>
        <div class="row">
            {{ range .product }}
            <div class="col-sm-6 col-md-6">
                <div class="product-item">
                    <a href="{{ .link | relURL }}">
                        <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                        <h4>{{ .name | markdownify }}</h4>
                    </a>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ FEATURES ############ -->
{{ with .Params.features}}
{{ if .enable }}
<a id="features" class="anchor" name="features"></a>
<section class="features">
    <div class="container section-default-padding">
        <div class="row">
            <div class="section-title">
                <h2>Features</h2>
            </div>
        </div>
        <div class="row">
            {{ range .feature }}
            <div class="col-sm-4 col-md-4">
                <div class="feature-item">
                    <i class="{{ .icon }} fa-2x"></i>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            {{ range .more_feature}}
            <div class="col-sm-12 col-md-12">
                <div class="more-feature-item">
                    <h3>{{ .title | markdownify }}</h4>
                    <p>{{ .content | markdownify }}</p>
                    {{ if .gist_link }}
                    <script src="{{ .gist_link | relURL }}.js"></script>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ TESTIMONIALS ############ -->
{{- partial "testimonial.html" . -}}

<!-- ############ SUPPORT ############ -->
{{- partial "support.html" . -}}

<!-- ############ SOLUTIONS ############ -->
{{ with .Params.solutions}}
{{ if .enable }}
<a id="solutions" class="anchor" name="solutions"></a>
<section class="solutions bg-primary">
    <div class="container section-default-padding">
        <div class="row">
            <div class="section-title">
                {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            </div>
        </div>
        <div class="row">
            {{ range .solution }}
            <div class="col-sm-3 col-md-3 solution-container">
                <h4>
                    <a href="{{ .link | relURL }}">
                        <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                        {{ .product | markdownify }}
                        <div><small>for {{ .platform | markdownify }}</small></div>
                    </a>
                </h4>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ BACK 2 TOP ############ -->
<a href="#top" id="back-top">
    <div>
        <i class="ion-arrow-up-c"></i>
    </div>
</a>

{{ end }}