{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- ############ SUB MENU ############ -->
{{ with .Params.submenu }}
{{ if .enable }}
<a id="submenu" class="anchor" name="submenu"></a>
<section class="submenu">
    <div class="container">
        <div class="row">
            {{ with .left }}
            <div class="col-sm-3 col-md-3">
                <h4>
                    <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                    {{ .product | markdownify }}
                    <div><small>for {{ .platform | markdownify }}</small></div>
                </h4>
            </div>
            {{ end }}
            {{ with .middle }}
            <div class="col-sm-5 col-md-5">
                <ul class="nav nav-pills mb-hide">
                    {{ range .button }}
                    <li><a href="{{ .link }}">{{ .text | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ with .right }}
            <div class="col-sm-4 col-md-4">
                <a href="{{ .link_download | relLangURL }}" class="btn btn-small btn-download animated fadeInUp"><i class="ion-android-arrow-down"></i> Download</a>
                <a href="{{ .link_learn | relLangURL }}" class="btn btn-small btn-learn animated fadeInUp"><i class="ion-document-text"></i> Learn</a>
                <a href="{{ .link_buy | relLangURL }}" class="btn btn-small btn-buy animated fadeInUp"><i class="ion-pricetag"></i> Buy</a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ OVERVIEW ############ -->
{{ with .Params.overview}}
{{ if .enable }}
<a id="overview" class="anchor" name="overview"></a>
<section class="overview">
    <div class="container">
        <div class="row">
            <p class="mt-30">{{ .content | markdownify }}</p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.products}}
{{ if .enable }}
<section class="products">
    <a id="products" class="anchor" name="products"></a>
    <div class="container">
        <div class="row">
            <div class="section-title">
                {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
                {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
        </div>
        <div class="row">
            {{ range .product }}
            <div class="col-sm-6 col-md-6">
                <div class="product-item">
                    <a href="{{ .link | relURL }}">
                        <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                        <h4>{{ .name | markdownify }}</h4>
                    </a>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ FEATURES ############ -->
{{ with .Params.features}}
{{ if .enable }}
<a id="features" class="anchor" name="features"></a>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Features</h2>
            </div>
        </div>
        <div class="row">
            {{ range .feature }}
            <div class="col-sm-4 col-md-4">
                <div class="feature-item">
                    <i class="{{ .icon }} fa-2x"></i>
                    <p>{{ .content | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            {{ range .more_feature}}
            <div class="col-sm-12 col-md-12">
                <div class="more-feature-item">
                    <h3>{{ .title | markdownify }}</h4>
                    <p>{{ .content | markdownify }}</p>
                    <script src="{{ .snippet_link | relURL }}.js"></script>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ TESTIMONIALS ############ -->
{{- partial "testimonial.html" . -}}

<!-- ############ SUPPORT ############ -->
{{- partial "support.html" . -}}

<!-- ############ SOLUTIONS ############ -->
{{ with .Params.solutions}}
{{ if .enable }}
<a id="solutions" class="anchor" name="solutions"></a>
<section class="solutions">
    <div class="container">
        <div class="row">
            <div class="section-title">
                {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            </div>
        </div>
        <div class="row">
            {{ range .solution }}
            <div class="col-sm-3 col-md-3 solution-container">
                <h4>
                    <a href="{{ .link | relURL }}">
                        <img alt="{{ .img_alt | markdownify }}" data-src="{{ .image | relURL }}" src="{{ .image | relURL }}">
                        {{ .product | markdownify }}
                        <div><small>for {{ .platform | markdownify }}</small></div>
                    </a>
                </h4>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- ############ BACK 2 TOP ############ -->
<a href="#top" id="back-top">
    <div>
        <i class="ion-arrow-up-c"></i>
    </div>
</a>

{{ end }}