#back-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999999999999;
    background-color: $primary-color;
    border-radius: 50px;
    border: 1px solid $white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48px;
    color: $white;
}

.section-default-padding {
    padding: 20px 30px;
}

// SubMenu
.submenu { 
    img {
        width: 42px;
        height: 42px;
        float: left;
        margin-right: 8px;
    }

    h4 {
        margin: 0;
    }

    .nav {
        a {
            color: $black;
        }
    }
}

.btn-download {
    background-color: $btn-success;

    &:hover {
        background: darken($btn-success, 20%);
        color: $white;
    }
}

.btn-learn {
    background-color: $btn-secondary;

    &:hover {
        background: darken($btn-secondary, 20%);
        color: $white;
    }
}

.btn-buy {
    background-color: $btn-primary;

    &:hover {
        background: darken($btn-primary, 20%);
        color: $white;
    }
}

// Overview
.overview-tabs {
    .tabCommon {
        text-align: center;

        .nav-tabs {
          display: -webkit-inline-flex;
          margin: 25px 0;
          border: 0;
      
          li {
            margin: 5px;
            float: none;
            color: $light-gray;
            padding: 10px 30px;
            cursor: pointer;
          }
      
          li.active {
            border-bottom: 2px solid $primary-color;
            color: $primary-color;
            p {
              color: $primary-color;
            }
          }
        }
      
        .tab-content {
          padding: 20px;
          text-align: left;

            p {
                color: $light-gray;
                text-align: center;
            }
        
            table {
                margin: 40px 20px;
            
                th, td {
                    padding: 5px 10px;
                }

                th {
                    padding-bottom: 20px;
                }
            
                td {
                    color: $gray;
                    width: 50%;

                    strong {
                        color: $light-gray;
                    }
                }

                code {
                    color: $primary-color;
                    padding: 10px 15px;
                }
            }
        }
    }
}

// Products
.products {
    img {
        float: left;
        margin-right: 10px;
        padding-bottom: 90px;
    }
}

// Features
.features {
    i {
        float: left;
        margin-right: 10px;
        padding-bottom: 60px;
        color: $primary-color;
    }
}

// Support
.support{
    a {
        color: $white;
    }

    .container {
        text-align: center;
    }

    .product-item {
        ul {
            margin-top: 25px;
        }
    
        li {
            margin: 8px 0;
        }
    }

    .support-btns {
        margin: 25px 0;
    }
    
    .btn-support {
        @extend .btn-main;
        border-color: $white;
    }
}

// Solutions
.solutions {
    .solution-container {
        margin: 15px 0;
    
        a {
            color: $white;
        }
    
        img {
            width: 42px;
            height: 42px;
            float: left;
            margin-right: 8px;
        }
    
        small {
            color: $white;
            font-weight: bold;
        }
    }

    h2 {
        text-transform: none;
    }
}

