#back-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999999999999;
    background-color: $primary-color;
    border-radius: 50px;
    border: 1px solid $white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48px;
    color: $white;
}

.section-default-padding {
    padding: 20px 30px;
}

// SubMenu
.submenu { 
    img {
        width: 42px;
        height: 42px;
        float: left;
        margin-right: 8px;
    }

    h4 {
        margin: 0;
    }

    .nav {
        a {
            color: $black;
        }
    }
}

.btn-download {
    background-color: $btn-success;

    &:hover {
        background: darken($btn-success, 20%);
        color: $white;
    }
}

.btn-learn {
    background-color: $btn-secondary;

    &:hover {
        background: darken($btn-secondary, 20%);
        color: $white;
    }
}

.btn-buy {
    background-color: $btn-primary;

    &:hover {
        background: darken($btn-primary, 20%);
        color: $white;
    }
}

// Overview
.overview-tabs {
    
    ul.nav {
        margin: 100px auto 0;
        border: 0;
        display: inline-flex;
        float: none;
        justify-content: center;
        align-items: center;
        width:100%;

        li {
            font-size: 16px;
            color: #7c7c7c;
            background-color: $white;
            font-weight: 400;
            padding: 10px 30px;
            min-width: 200px;
            text-align: center;
            cursor: pointer;
        }

        .active {
            color: #fff;
            background-color: #1a89d0;
            position: relative;
            padding: 20px 30px;
            margin-top: -20px;

            :after {
                content: " ";
                top: 100%;
                left: 50%;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(26, 137, 208, 0);
                border-top-color: #1a89d0;
                border-width: 10px;
                margin-left:-10px
            }
        }
    }
}

// Products
.products {
    img {
        float: left;
        margin-right: 10px;
        padding-bottom: 90px;
    }
}

// Features
.features {
    i {
        float: left;
        margin-right: 10px;
        padding-bottom: 60px;
        color: $primary-color;
    }
}

// Support
.support{
    a {
        color: $white;
    }

    .container {
        text-align: center;
    }

    .product-item {
        ul {
            margin-top: 25px;
        }
    
        li {
            margin: 8px 0;
        }
    }

    .support-btns {
        margin: 25px 0;
    }
    
    .btn-support {
        @extend .btn-main;
        border-color: $white;
    }
}

// Solutions
.solutions {
    .solution-container {
        margin: 15px 0;
    
        a {
            color: $white;
        }
    
        img {
            width: 42px;
            height: 42px;
            float: left;
            margin-right: 8px;
        }
    
        small {
            color: $white;
            font-weight: bold;
        }
    }

    h2 {
        text-transform: none;
    }
}

